/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
html {
  background-color: var(--main-background-color);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-text);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header {
  font-family: var(--accent-font);
  background-color: var(--main-background-color);
  padding-block-start: 120px;
  padding-block-end: 25px;
  margin-block: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  font-size: 49px;
  margin-block-end: 20px;
}

.header__title {
  font-size: 14px;
  font-weight: initial;
  text-transform: uppercase;
  margin-block-end: 25px;
}

.icon-floppy {
  display: block;
  width: 30px;
  height: 30px;
}

.theme-menu__button {
  border: none;
  background-color: initial;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.card {
  background-color: var(--main-background-color);
}