/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-background-color: #000000;
  --main-text-color: #00CC14;
  --background-cover-1: #007F0C;
  --background-cover-2: #004306;
  --text-button-color: var(--main-text-color);

  --like-checked-color: #FF0000;
  --like-color: var(--main-background-color);

  --main-font: 'Inter-variable', sans-serif;
  --accent-font: 'PressStart2P', system-ui;
  --font-weight-text: 465;
  --font-weight-title: 785;
}